/*NAVBAR*/
nav{
    background-color: #f7a072;
    font-family: "Poppins", "sans-serif";
    color: #FFFFFF;
    font-size: 16px;
}

.navbar-brand{
    color: #FFFFFF;
    font-size: 20px;
}

.navbar-brand:hover{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: underline;
}

.navbar-toggler-icon{
    font-size: 24px
}

.nav-link{
    color: #FFFFFF;
    font-size: 16px;
}

.nav-link:hover{
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: underline;
}

h1, p{
    font-family: "Poppins", "sans-serif";
}

